@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');

.works{
    font-family: 'Anton', sans-serif;
    font-size: 60px;
}
.work{
    font-family: 'Anton', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size:  35px;
    float: left;
    margin-left: 100px;
}
body{
    background-image: url(https://kartinkin.com/uploads/posts/2021-07/1626734234_2-kartinkin-com-p-yarko-oranzhevii-fon-krasivo-2.jpg);
}
a:hover{
    border: 1px solid black;
}
a{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}